<div class="col-md-9 ms-paper-content-container">
    <div class="ms-paper-content">
        <h1>Marcas</h1>
        <p id="notice"><%= notice %></p>
        <section class="ms-component-section">
            <div class="bs-example">
            	<%= render 'form', marca: @marca %>
            	<%= link_to 'Back', marcas_path %>
            </div>
            <!-- panel-code -->
        </section>
    </div>
    <!-- ms-paper-content -->
</div>
